Getting `Invalid UInt8` Exception while using decode_string method

I'm doing this

```crystal
require "quoted_printable"

s = <<-BODY
To join the video meeting, click this link:=20
https://meet.google.=
com/xxx-xxx-xxx Otherwise, to join by phone, dial +1
234-281-3083 and enter this PIN: xxx xxx xxx#
SXXXX XXX
| Founder, XXXX Veteran & Contract and Procurement Specialist| GovLia - =
State and Local Procurement Made Easy.| phone:xxx.744.xxxx| =
email:Sxxxxxx@govlia.com|=20
site: www.govlia.com | address: xxxx North =
University Drive Ste.xxx
Lauderhill, XX xxxxx =20
BODY

QuotedPrintable.decode_string s
```

I'm getting this exception:

```
Unhandled exception: Invalid UInt8: 
S (ArgumentError)
  from /usr/share/crystal/src/string.cr:372:5 in 'to_u8'
  from lib/quoted_printable/src/quoted_printable.cr:120:17 in 'decode'
  from lib/quoted_printable/src/quoted_printable.cr:102:22 in 'decode_string:line_break'
  from qp.cr:17:1 in '__crystal_main'
  from /usr/share/crystal/src/crystal/main.cr:97:5 in 'main_user_code'
  from /usr/share/crystal/src/crystal/main.cr:86:7 in 'main'
  from /usr/share/crystal/src/crystal/main.cr:106:3 in 'main'
  from __libc_start_main
  from _start
  from ???
```

While ruby's unpack handles it perfectly.

```ruby
s.unpack("M*").first
```

I think it's not a bug.

The [RFC2045 section 6.7](https://tools.ietf.org/html/rfc2045#section-6.7) shows the line breaks in the Quoted-Printable encoded text must be CRLF.

> (4)   (Line Breaks) A line break in a text body, represented
>          as a CRLF sequence in the text canonical form, must be
>          represented by a (RFC 822) line break, which is also a
>          CRLF sequence, in the Quoted-Printable encoding.

So, the text including the single LF (like the heredoc of the crystal) is invalid as the Quoted-Printable encoded data.

The M template of the `pack` and `unpack` method of Ruby does not seem to compliant that RFC.

This text is from body of an email send by a Gmail account. If its true, that would be astounding that Gmail is using a non-complaint version of Quoted-Printable encoding. I'm getting most of the email bodies like this. Is there any other solution you would like to propose?

First, I don't think Gmail using non-complaint Quoted-Printable encoding.

While the SMTP communication, the line breaks must be CRLF.
Of course, Gmail should use CRLF line break on the SMTP connection.

You can download original email message from Gmail by following steps.

1. Open "Sent" mailbox on Gmail.
2. Select and display any message in the mailbox.
3. Select "Show original" from message menu(top right side of message view).
4. Select "Download original" link.

Then, you should get a text file including the email message data with CRLF line breaks.

But, in many situations, line breaks are automatically converted to those for the current environment.

For example, when you copy the text with CRLF line breaks and paste to the file that use LF line breaks(e.g. crystal source code). 
Other example, FTP transfer with ASCII mode.
And so on...

I have some suggestions.

If you have original email message data with CRLF, you should not copy & paste the message body into the crystal source code. You should read the message body from that file directly.

Or, if you know that the line breaks in the quoted-printable data are LF only, you can replace `\n` to `\r\n` before decoding.

```
QuotedPrintable.decode_string s.gsub(/\n/, "\r\n")
```

I hope these help you.